
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 62.5%;}
a {text-decoration: none;
    color: #000000;
}
a:hover{
    color: #fff;
}
.active{
    color: #9A0F98;
}
ul{list-style-type: none; margin: 0; padding: 0;}
.button{
    background-color:#39065A;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px 25px;
    border-radius: 5px;
}
.button:hover{
    color: #7A5393;
}
main{
    width: 100%;
    height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color:#DDC9DD ;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.home-section {
    flex: auto;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}

header{
   background-color:#CB95B8;
   padding: 2.5em; 
   width: 100%; 
   position:relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    width: 150px;

}
ul{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 2.6em;
    color: #000000;
}
.hero .left-col h1{
    font-size: 3.2rem;
    line-height: 1.3;
}

h1 span {
    display: block;
}
.hero {
    max-width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.hero .left-col {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .left-col .element {
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: flex-end;
}

.cta{
    display: inline-block;
    width: calc(100%/2);
}

.hero .right-col{
    flex: 0 55%;
    height: 100%;
}

.hero .right-col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 35%;
}
.col-jacket{
    height: 100%;
    display: flex;
    
}
.collections{
    width: 100%;
    background-color: #937DB0;
    margin: 10px;
    border-radius: 10px;
    
}
.image img{
    width: 100%;
    border-radius: 10px;
}
.tittle{
    text-align: center;
}
.doc{
    text-align: center;
    margin-bottom: 60px;
    padding: 4px;
    
}

/*.collections{
    display: flex;
    flex-direction: row;
}
.items{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
.item1{
    display: flex;
    width: 100%;
}
.img-collection{
    width: 100%;
    object-fit: cover;
    
}
*/
.success{
    width: 100%;
    height: 100vh;
    margin: 1.5em;
    background-color: #fff;
}
.message{
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    color: #3b6344;
}
.about{
    display: flex;
}
.right-col2{
    width: 40%;
    height: 100vh;
}
.about-img{
    max-width: 100%;
    height: auto;
}
.left-col2{
    background-color: #A19AAB;
    height: 100vh;
    width: 60%;
}
.men-gallery{
    display: flex;
}
.women-gallery{
    display: flex;
}
footer{
    background-color: #413939;
    color: #fff;
    padding: 2.5em;
    margin-top: 1px;

    
}
footer a{
    color: #fff;
    transition: 0.3s;
}
footer a:hover{
    color: #8d6767cc;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;

    margin-bottom: 1.5em; 
}
.footer-bottom{
    text-align: center;
}
